[Unit]
Description=CaseFan Service
After=multi-user.target hive.target

[Service]
Type=simple
ExecStart=/home/user/casefan
SyslogIdentifier=casefan

[Install]
WantedBy=multi-user.target
